{% extends "layout.html" %}
{% block content %}
    <!-- Header Set up on main page. -->
    <h2><center>* The Boba Cloud *</center></h2>
    <h3><center>Add Location <a href="{{ url_for('sign') }}">here</a></center></h3>
    <h3><center>Bubble Tea Spot Entries</center></h3>
    
    <!-- Information displayed on main page of all bubble tea places. -->
    {% for entry in entries %}
        <p class=entry>
           <b> {{ entry.name }} </b>&lt;{{ entry.email }}&gt;
	    <br>Rating: {{ entry.rating }}
        <br>Recommended Order: {{ entry.order }}
        <br>Location: {{ entry.address }}, {{ entry.city }}, {{ entry.state }}
        <br>Hours: {{ entry.hours }}
        <br>Phone #: {{ entry.phonenum }}
	    <br>Review: {{ entry.message }}
	    <br>Published: {{ entry.signed_on }}
        </p>
    {% endfor %}

{% endblock %}
