<!doctype html>
<html>
<title>* The Boba Cloud *</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='boba_style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='jelly_style.css') }}">

<body>
    <!--
        Falling Boba and jellies animation below.
    -->
    <ul class="bobas">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul class="jellies">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <!--
        The rest of the page's content comes from the div.
    -->
    <div class=page>
        {% block content %}{% endblock %}
    </div>

</body>

</html>
