/* Various style links/tutorials. */
/* Animation Citation Tutorial: https://www.youtube.com/watch?v=ETXba6QOzYg */
/* How to make squares into circles: https://codeburst.io/how-to-animate-using-css-27e04208ee8 */
/* Position relative to allow links to work: https://stackoverflow.com/questions/14255969/a-href-tag-not-working-due-to-z-index */
/* ----------------------------------------------------------------------------- */

/* Various CSS formatting for html pages. Derived from wuchang's lab2. */
body {background-color:rgb(248, 164, 164); overflow-x:hidden; font-family: "Helvetica", sans-serif; font-size: 20px; z-index:1;}
h1, h2  { color: #00008F; z-index:1;}
a   { color: #00888F; position: relative; z-index:1;}
b   {font-weight: bold; }
form       { margin:.1em auto; padding:.1em; width: 400px; border: 1px; position: relative; z-index:1;}
.heading  { font-weight: bold; z-index:1;}
.page      { margin:.1em auto; padding:.1em; width: 504px;  z-index:1;}
.entry     { margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #888; z-index:1;}
input[type=text] { margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 200px;z-index:1; }
input[type=textarea] { margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 200px; z-index:1;}

