/*
    These are various sized boba animation classes.
    The tutorial I used and modified from this code can be found here:
        - Animation Citation Tutorial: https://www.youtube.com/watch?v=ETXba6QOzYg
        - How to make squares into circles: https://codeburst.io/how-to-animate-using-css-27e04208ee8
    Note: Try not to be concerned, many boba children will be dropping.
        - Also including -webkit- for various other browsers 
*/

/* Configuring the boba class */
.bobas {
    position: absolute;     /* So not affected by other elements*/
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index: 0;             /* This way it's in the back */
    -webkit-transform: translateZ(0); /* Using less cpu */
    transform: translateZ(0);
}

/* More boba configuation */
.bobas li {
    position: absolute;
    list-style: none;
    display: block;
    background-color: rgba(56, 24, 5, 0.527);
    bottom: -100px;

    -webkit-animation: circle 18s infinite;
    animation: circle 18s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

/* Start dropping the boba children */
.bobas li:nth-child(1) {
    width: 50px;
    height: 50px;
    left: 20%;
}

/* Dropping more boba children */
.bobas li:nth-child(2) {
    width: 60px;
    height: 60px;
    left: 40%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}

/* Dropping more boba children */
.bobas li:nth-child(3) {
    width: 50px;
    height: 50px;
    left: 60%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
}

/* Dropping more boba children */
.bobas li:nth-child(4) {
    width: 60px;
    height: 60px;
    left: 80%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
}

/* Dropping more boba children */
.bobas li:nth-child(5) {
    width: 50px;
    height: 50px;
    left: 50%;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
}

/* Dropping more boba children */
.bobas li:nth-child(6) {
    width: 60px;
    height: 60px;
    left: 65%;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-duration: 14s;
    animation-duration: 14s;
}

/* Dropping more boba children */
.bobas li:nth-child(7) {
    width: 50px;
    height: 50px;
    left: 90%;
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
}

/* Dropping more boba children */
.bobas li:nth-child(8) {
    width: 60px;
    height: 60px;
    left: 35%;
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
    -webkit-animation-duration: 16s;
    animation-duration: 16s;
}


/* Actual animation of the falling bobas. */
@-webkit-keyframes circle {
    0% {        /*Start of animation*/
        -webkit-transform: translateY(-1080px);
        transform: translateY(-1080px);
        border-radius:80%;
    }
    100% {      /*End of animation*/
        -webkit-transform: translateY(0) rotate(630deg);
        transform: translateY(0) rotate(630deg);
        border-radius:80%;
    }
}


/* Actual animation of the falling bobas. */
@keyframes circle {
    0% {
        -webkit-transform: translateY(-1080px);
        transform: translateY(-1080px);
        border-radius:80%;
    }
    100% {
        -webkit-transform: translateY(0) rotate(630deg);
        transform: translateY(0) rotate(630deg);
        border-radius:80%;
    }
}

