/*
    These are various sized jelly animation classes.
    The tutorial I used and modified from this code can be found here:
        - Animation Citation Tutorial: https://www.youtube.com/watch?v=ETXba6QOzYg
    Note: Try not to be concerned, many jelly children will be dropping.
        - Also including -webkit- for various other browsers 
*/

/* Configuring the jellies class */
.jellies {
    position: absolute;     /* So not affected by other elements*/
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index: 0;             /* This way it's in the back */
    -webkit-transform: translateZ(0); /* Using less cpu */
    transform: translateZ(0);
}

/* More jelly configuation */
.jellies li {
    position: absolute;
    list-style: none;
    display: block;
    background-color: rgba(255, 255, 255, 0.247);
    bottom: -100px;

    -webkit-animation: square 18s infinite;
    animation: square 18s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

/* Start dropping the jelly children */ 
.jellies li:nth-child(1) {
    width: 50px;
    height: 50px;
    left: 15%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}

/* Dropping more jelly children */
.jellies li:nth-child(2) {
    width: 70px;
    height: 70px;
    left: 45%;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-duration: 16s;
    animation-duration: 16s;
}

/* Dropping more jelly children */
.jellies li:nth-child(3) {
    width: 40px;
    height: 40px;
    left: 65%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
}

/* Dropping more jelly children */
.jellies li:nth-child(4) {
    width: 50px;
    height: 50px;
    left: 85%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}

/* Dropping more jelly children */
.jellies li:nth-child(5) {
    width: 40px;
    height: 40px;
    left: 95%;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-duration: 14s;
    animation-duration: 14s;
}

/* Dropping more jelly children */
.jellies li:nth-child(6) {
    width: 50px;
    height: 50px;
    left: 25%;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-duration: 14s;
    animation-duration: 14s;
}

/* Dropping more jelly children */
.jellies li:nth-child(7) {
    width: 50px;
    height: 50px;
    left: 70%;
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
}

/* Dropping more jelly children */
.jellies li:nth-child(8) {
    width: 60px;
    height: 60px;
    left: 45%;
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
    -webkit-animation-duration: 16s;
    animation-duration: 16s;
}

/* Do the falling jelly animation - these visibly rotate! */
@keyframes square {
    0% {
        -webkit-transform: translateY(-1080px);
        transform: translateY(-1080px);
    }
    100% {
        -webkit-transform: translateY(0) rotate(630deg);
        transform: translateY(0) rotate(630deg);
    }
}


