{% extends "layout.html" %}
{% block content %}
    <!-- 
         Various entry fields for a typical bubble tea shop:
         This includes, but is not limited to shop's:
         name, street address, city, state, zip code, 
         store hours, phone number, rating, review, 
         recommended order, etc if needed. 
    -->
    <h2>Add to the Bobabook</h2>
    <form action="{{ url_for('sign') }}" method=post>
	<p class="heading">Bubble Tea Place: <input type=text name=name>
	<p class="heading">Street Address: <input type=text name=address>
	<p class="heading">City: <input type=text name=city>
	<p class="heading">State: <input type=text name=state>
	<p class="heading">Zip Code: <input type=text name=zipcode>
	<p class="heading">Open Hours: <input type=text name=hours>
	<p class="heading">Phone Number: <input type=text name=phonenum>
	<p class="heading">Rating 1-10: <input type=text name=rating>
	<p class="heading">Email: <input type=text name=email>
    <p class="heading">Review: <textarea rows=5 cols=50 name=message></textarea>
	<p class="heading">Recommended Order: <input type=text name=bobaorder></p>
	<p><input type=submit value=Sign></p>
    </form>
{% endblock %}
